# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Google credentials (VERY IMPORTANT - NEVER COMMIT!)
credentials.json
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
email_tracking.json
scheduled_contacts.json
temp_student_data.xlsx
student_data.xlsx

# Node
node_modules/
.next/
out/
build/
dist/

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
